{% extends "forum/base.html" %}
{% block content %}
   {% for topic in topics %}
        <a href="{% url 'topic_id' topic.id %}"><h1>{{ topic.title }}</h1></a>
        <p>{{ topic.autor }}</p>
        <p> {{ topic.posts.title }} </p>
    {% endfor %}

    {% for post in posts %}
        <p>{{ post.title }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'post_delete' post.id %}">Delete</a>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Aplica</button>
        </form>
    {% endif %}
{% endblock %}
